.copyright{
    text-align: center;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#footer{
    height: 51px;
}
span{
    font-size: 0.7em;
}