<section>
  <div class="container">
    <div class="row">
        <h2>{{this.main.h2[4]}}</h2>
        <div class="blog-list">
          <div class="article-wrapper">
          <article class="article-item" *ngFor="let post of this.main.post">
                <div class="header">
                    <h4>{{post.header}}</h4>
                    <p class="data">{{post.date}} on {{post.time}}</p>
                </div>
                <figure>
                  <div class="img-wrapper blog-post-figure">
                    <img [src]="post.imgSrc" [alt]="post.header">
                  </div>
                  <figcaption>
                    {{post.text}}
                  </figcaption>
                </figure>      
          </article>
        </div>
        </div>
    </div>
  </div>
  
</section>