<section>
  <div class="container">
    <div class="row">
        <h2>{{this.main.h2[4]}}</h2>
        <div class="blog-list">
          <div class="article-wrapper">
          <article>
           
                <div class="header">
                    <h4>asdasdasasd asd </h4>
                    <p class="data">24.05.2014 on 16:00</p>
                </div>
                <figure>
                  <div class="img-wrapper blog-post-figure">
                    <img src="assets/post1.jpeg" alt="">
                  </div>
                  <figcaption>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis expedita voluptatibus officiis maxime ipsam ipsa excepturi, vel, quo consequuntur molestiae cupiditate unde perspiciatis obcaecati architecto quasi. Distinctio asperiores fuga sapiente.
                  </figcaption>
                </figure>      
          </article>
        </div>
        </div>
    </div>
  </div>
  
</section>