.a-main{
    width: 100%;
    float: left;
}
.a-section{
    width: 100%;
    float: left;
}
.headers-h2{
    margin-bottom: 5px;
}
.clear{
    width: 100%;
    float: left;
}
.headers-text{
    float: left;
    margin-left: 20px;
    padding: 3px 8px;
}
.p-description{
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.headers-description{
    width: 400px;
    margin-left: 20px;
    resize: none;
    height: 250px;
    padding: 3px 8px;
}
