<header [class.theme-blue]="this.main.colorThem==0">
  <div class="container">
    <div class="row">
      <div class="logo"><a href="">Yar</a></div>
      <nav>
        <ul>
          <li [class.active]="nav[0]" >
            <a routerLink=""   (click)='_changeActiveUrl(0)' >Main</a>
            <span class="header-line"></span>
          </li>
          <li [class.active]="nav[1]" >
            <a routerLink="blog"   (click)='_changeActiveUrl(1)' >Blog</a>
            <span class="header-line"></span>
          </li>
          <li [class.active]="nav[2]" >
            <a routerLink="about"    (click)='_changeActiveUrl(2)' >About</a>
            <span class="header-line"></span>
          </li>
          
        </ul>
      </nav>
    </div> 
  </div>
</header>