.row{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 25%;
}
ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
}
.header-line{
    width: 0;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 50%;
    transition:all 0.5s ease-in-out;
    background-color: rgb(146, 165, 250);
}
li.active .header-line{
    width: 100%;
    left: 0;
}
li{
    list-style: none;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: relative;
    a{
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &:hover{
        cursor: pointer;
    }
}
header{
    z-index: 5;
}
header, .row{
    height: 70px;
}
.logo {
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
    }
    
}
// adaptive

@media (max-width: 768px){
    nav{
        width: 45%;
    }
}
@media (max-width: 560px){
    .row{
        flex-wrap: wrap;
    }
    nav{
        width: 80%;
        margin: 5px 10% 10px;
    }
    .logo{
        width: 100%;
        justify-content: center;
    }
}