<header>
    <div class="container">
        <div class="row">
            <div class="logo"><a href="">Yar</a></div>
            <div class="logined">user</div>
        </div>
    </div>
</header>
<div class="admin">
    <nav class="a-left">
        <p class="nav-header">Pages</p>
        <ul>
            <li class="a-navigation" *ngFor="let page of nav; let i = index" [class.active-admin-li]="this.nav[i].active">
                <a [routerLink]="page.href" (click)="_changeActiveUrl(i)" >{{page.text}}</a>
            </li>
        </ul>
    </nav>
    <div class="a-right">
        <router-outlet></router-outlet>
    </div>
   
</div>
