
$header: #03A9F4;
$сolorThree: #64B5F6; 
$colorOne: #B3E5FC;
$colorHalf: #E3F2FD;
$help: #FFEB3B;


*{
    box-sizing: border-box;
}
header, footer, section{
    width: 100%;
    float: left;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    background-color: $colorHalf;
}
.container{
    width: 1200px;
    margin: 0 auto; 
}
.row{
    float: left;
    width: 100%;
    position: relative;
}
h1{
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5;
    font-size: 4em;
    color: $help;
    background-color: $сolorThree;
    border-radius: 12px;
}
h2{
    font-size: 1.8em;
    text-align: center;
    color: #000;
    font-weight: 100;
}
section{
    padding-bottom: 100px;
    box-shadow: 0px 5px 20px -10px #000;
}

// Themes
header{
    background-color: $header;
    box-shadow: 0px 5px 10px -5px #000;
}

.button-down{
    background-color: $help;
    i{
        color: #000;
    }
}
.stack-item{
    background-color: #fff;
}
footer{
    background-color: $header;
  
}
app-admin header{
    box-shadow: none;
}
.a-right, .a-left{
    background-color: $сolorThree;
}

    nav li{
        a{
            color:  #000;
        }
    }
    .stack-item{
        box-shadow: 0 0 10px -3px #000;
        
        &:hover{
            box-shadow: 0 0 20px -2px #000;
        }
    }
    .works-item-back-description-text{
        color: #fff;
    }
    .copyright{
        color: #fff;
    }
    .logo a{
        font-size: 1.8em;
        color: #000;
    }
i{
    color: $help;
}
.delete i {
    color: #000;
}
.newItem{
    background-color: #fff;
    i{
        color: $сolorThree;

    }
}
.saveButton{
    background-color: $help!important;
}
.addButton{
    background-color: $сolorThree!important;
}
.a-left{
    li.active-admin-li{
        background-color: $colorHalf;
    }
}
.saveH2{
    position: absolute;
    right: 10px;
    top: 0;
    i{
        font-size: 25px;
       
    }
}
.about-text{
    width: 300px;
    float: left;
    textarea{
        height: 200px;
    }
}
.p-description{
    margin-bottom: 5px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    P{
        float: left;
        padding-right: 10px;
    }
}
.saveAbout{
    i{
        font-size: 25px;
    }
}
.blog-post-figure{
    border-bottom: 1px solid $сolorThree;
    border-top: 1px solid $сolorThree;
}


// adaptive

@media (max-width: 1300px){
    .container{
        width: 960px;
    }
}

@media (max-width: 992px){
    .container{
        width: 740px;
    }
    body{
        font-size: 15px;
    }
    section{
        padding-bottom: 50px;
    }
}

@media (max-width: 768px){
    .container{
        width: 540px;
    }
  
}

@media (max-width: 560px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
  
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue,500);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);
 
// Create the theme object (a Sass map containing all of the palettes). 
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);